*.swp
*.pyc
__pycache__
out*
*.sh
tags
*.egg-info
.ipynb_checkpoints/
*.ipynb
model_comperator.py
saianeesh_ms0735.py
ps_fitter.py
plot_utils.py
ms0735_example.py
map_maker.py
gpu_ms0735.py
fft.py
configs/.ipynb_checkpoints/
aplpy.txt
Filter_data.xlsm
*.swo

