# Base config to merge into
# If an absolute path is given then it is used
# Otherwise it is assumed to me reative to the directory of this file
base: "MOOJ1142_base.yaml"

# Cluster name
# Used both for the output path as well as to load presets
name: "MOOJ1142"
sim: False # If True use TODs to make noise and add a simulated cluster

paths:
  subdir: "PS_sub"

coords:
  x0: "Angle('11 42 47.44 hours').to(u.radian).value" #peak
  y0: "Angle('15:27:13.10 degrees').to(u.radian).value" #peak
    
# Define the model
model:
  # Unit conversion to apply at the end
  # Will be evaled
  unit_conversion: "float(wu.get_da(constants['z'])*wu.y2K_RJ(constants['freq'], constants['Te'])*wu.XMpc/wu.me)"
  # Structure to include in the model
  structures:
    # Name of the first structure
    ps_gauss:
      structure: "gaussian"
      parameters:
        dx_g:
          value: 1.62696504 
          to_fit: True
        dy_g:
          value: -3.81933555
          to_fit: True
        sigma:
          value: 4.94485922
          to_fit: True
        amp_g:
          value: 0.0013034
          to_fit: True


